<header class="bg-[#1E2A38] text-white py-4">
    <div class="container mx-auto flex justify-between items-center">
        <a href="{{ path('app_home') }}">
            <img src="{{ asset('images/logo_ICanFly_monochrome.svg') }}" alt="Logo I can Fly" class="h-10">
        </a>
        <div>
            <nav>
                <a href="/" class="px-4 py-2 hover:underline text-white">Accueil</a>
                <a href="{{ path('page_about_us') }}" class="px-4 py-2 hover:underline text-white">À propos de
                    nous</a>
                <a href="{{ path('page_mission') }}" class="px-4 py-2 hover:underline text-white">Les missions</a>
                <a href="{{ path('app_launches') }}" class="px-4 py-2 hover:underline text-white">Partenaires</a>
                {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                    <a href="{{ path('app_dashboard') }}" class="px-4 py-2 hover:underline text-white">Mon Profil</a>
                {% else %}
                    <a href="{{ path('app_login') }}" class="px-4 py-2 hover:underline text-white">Se connecter</a>
                {% endif %}
            </nav>
        </div>
    </div>
</header>
